<!doctype html>
<html>
  <head>
    <title>Решение квадратного уравнения</title>
  </head>
  <body>
    <form method="post">
      <p>
        <label for="a">a:</label>
        <input type="text" id="a" name="a">
      </p>
      <p>
        <label for="b">b:</label>
        <input type="text" id="b" name="b">
      </p>
      <p>
        <label for="c">c:</label>
        <input type="text" id="c" name="c">
      </p>
      <button type="submit">Решить</button>
    </form>
  </body>
</html>